.inputBox{
    width: 150px;
    height: 25px;
    border-radius: 9px; 
    border:2px solid aqua; 
    font-weight: 6000;
}
.btn{
 height: 40px;
 width: 80px;
 margin-top: 25PX;
border-radius: 9px;
background-color: aqua;
border: none;
}